In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('sample_submission.csv')

In [4]:
df.head()

   enrollee_id  target
0        32403     0.5
1         9858     0.5
2        31806     0.5
3        27385     0.5
4        27724     0.5